<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuojl.mybatis.plugin.crypt.Mapper">
  <!--<cache eviction="LRU"/>-->

  <insert id="insert">
    insert into users values(#{id}, #{name}, #{phone})
  </insert>

  <insert id="batchInsert">
    insert into users values
    <foreach collection="list" open="" close="" item="item" separator=",">
      (#{item.id}, #{item.name}, #{item.phone})
    </foreach>
  </insert>

  <insert id="batchInsertArray">
    insert into users values
    <foreach collection="arrayName" open="" close="" item="item" separator=",">
      (#{item.id}, #{item.name}, #{item.phone})
    </foreach>
  </insert>

  <select id="listUserWithMultipleParam" resultType="com.zhuojl.mybatis.plugin.crypt.User">
    SELECT * from users
    WHERE
    name = #{user1.name} OR name = #{user2.name} OR name in
    <foreach collection="userList" open="(" close=")" item="item" separator=",">
      #{item.name}
    </foreach>

  </select>

  <select id="listAll" resultType="com.zhuojl.mybatis.plugin.crypt.User">
    SELECT * FROM users
  </select>

  <select id="listAllUserWithAnnotation" resultType="com.zhuojl.mybatis.plugin.crypt.User" >
  	select * from users
  </select>

  <select id="get" resultType="com.zhuojl.mybatis.plugin.crypt.User" >
  	select * from users limit 1
  </select>

  <select id="getWithAnnotation" resultType="com.zhuojl.mybatis.plugin.crypt.User" >
  	select * from users limit 1
  </select>

  <delete id="deleteAll">
    delete from users
  </delete>

</mapper>
