<?xml version="1.0" encoding="UTF-8" ?>
<!--

       Copyright 2009-2016 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhuojl.mybatis.plugin.crypt.Mapper">
  <!--<cache eviction="LRU"/>-->

  <insert id="insert">
    insert into users values(#{id}, #{name})
  </insert>

  <select id="testUserParamIndex" resultType="com.zhuojl.mybatis.plugin.crypt.User" >
    select id, name from users where id = #{param1} and name = #{param2}

  </select>

  <select id="testSingleParam" resultType="com.zhuojl.mybatis.plugin.crypt.User" >
  	select id, name from users where id = #{idName}
  </select>

  <select id="testMultiParamNoAnnotation" resultType="com.zhuojl.mybatis.plugin.crypt.User" >
  	select id, name from users where id = #{id} and name = #{name}
  </select>

  <select id="testUseListMethod" resultType="com.zhuojl.mybatis.plugin.crypt.User" >
  	select id, name from users
    where id = #{list.size}
  </select>

  <select id="testForeach" resultType="com.zhuojl.mybatis.plugin.crypt.User" >
  	select id, name from users
    where id in
    <foreach collection="list" open="(" close=")" item="id" separator=",">
      #{id}
    </foreach>
  </select>

</mapper>
